section.task
	.container
		.taskbox
			h2.taskbox__title.
				Основные задачи
			.taskbox__title1
				h2.taskbox__title1-namber.
					1
				p.
					Создание комфортных условий и повышение качества обслуживания клиентов
			.taskbox__title2
				h2.taskbox__title2-namber.
					2
				p.
					Постоянно совершенствовать качество предоставляемых услуг путем обучения персонала, закупки нового оборудования и усиленной рекламы на рынке
