section.project
	.container
		.project__box
			h2.
				Наши проекты

			img.project__box-imgTop1(src=('/src/assets/images/project/image 1'), alt='Фото дома')
			img.project__box-imgTop1(src=('/src/assets/images/project/image 2'), alt='Фото дома')

			.project__box-imgBottom
				img.project__box-imgBottom_img(src='../assets/images/project/image 3' alt='Фото ebuhego дома')
				img.project__box-imgBottom_img(src=('/src/assets/images/project/image 4'), alt='Фото дома')
				img.project__box-imgBottom_img(src=('/src/assets/images/project/image 5'), alt='Фото дома')
			.project__box-section
				a.project__box-section-box
					button
						p ВСЕ ПРОЕКТЫ
					.project__box-section-box-svg
						+svg('arrow-right')
