.headerBottom
	.headerBottom__img
		img(src=('/src/assets/images/Rectangle 6.png'), alt='Фото дома')
		a.headerBottom__img-box
			button
				p ВЗГЛЯНУТЬ
			.headerBottom__img-box-svg
				+svg('arrow-right')
	.headerBottom__box
		.headerBottom__box-title
			h2.headerBottom__box-title-text1 PROJECT
			h2.headerBottom__box-title-text2 NURTOWN
		.headerBottom__box-bottom
			a
				button.headerBottom__box-bottom-left
					+svg('arrow-left')
			a
				button.headerBottom__box-bottom-right
					+svg('arrow-right')

		.headerBottom__box-namber
			p 01
			+svg('italic')
			p 02
